/BumbleBee-Client/target/
/BumbleBee-Server/target/
/BumbleBee-Web-Services/target/
/BumbleBee-WebServices/target/
/BumbleBee-WebServices - Copy/target/
/BumbleBee-WebServices - Backup/target/
/BumbleBee-WebServices/nbproject/
